body {
  margin: 0;
  padding: 0;
  min-width: 360px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: azure;
}
.header {
  padding: 20px 0;
  border-bottom: 1px solid azure;
  letter-spacing: normal;
  background-image: url("../src/header/back.jpg");
  background-repeat: repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}