.wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
}

.typing {
    width: 34ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    @media screen and (max-width: 600px) {
        width: 26.5ch;
    }
    @media screen and (max-width: 400px) {
        width: 22.5ch;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}